/* Estilos para Desarrollador */

.containerDesarrollador {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cartaDesarrollador {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .cartaDesarrollador h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cartaDesarrollador input[type="text"],
  .cartaDesarrollador input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .cartaDesarrollador textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical; /* Permite redimensionar verticalmente */
  }
  
  .cartaDesarrollador button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .cartaDesarrollador button:hover {
    background-color: #0056b3;
  }
  
  .containerDesarrollador h1 {
    text-align: center;
    margin-bottom: 20px;
  }

