.footer {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

.footer h3 {
    color: white;
    font-size: 150%;
}

.boxRedes {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconRedes {
    width: 5%;
    height: auto;
    cursor: pointer;
    margin-bottom: 2%;
}

.boxCopi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(74, 74, 74);
    height: auto;
    padding: 0.5%;
}

.copi {
    color: white;
    text-decoration: none;
}

@media (min-width: 375px) and (max-width: 825px) {
    .boxRedes {
        width: 100%;
    }

    .boxCopi {
        width: 100%;
    }
    
}
