.containerInciarSecionCompleto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.containerInciarSecionCompleto .containerBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.containerInciarSecionCompleto .containerBanner .imgIS {
    width: 100%;
    border-radius: 8px;
}

.containerInciarSecionCompleto .containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 3%;
}

.containerInciarSecionCompleto .containerForm .title {
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1%;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.824);
    color: #ffffff;
}

.containerInciarSecionCompleto .containerForm .containerFormIS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: rgba(255, 58, 58, 0.824);
    padding: 2%;
    border-radius: 8px;
    margin-bottom: 3%;
}

.containerInciarSecionCompleto .containerForm .containerFormIS .containerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
    width: 80%;
    justify-content: flex-end;

}

.containerInciarSecionCompleto .containerForm .containerFormIS .containerInput .inputIS {
    font-size: 110%;
    text-align: justify;
    margin-left: 1%;
    width: 64%;
    padding: 0.5%;
    border: 1px solid black;
}

.containerInciarSecionCompleto .containerForm .containerFormIS .btnIS {
    padding: 0.5%;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.824);
}

.containerInciarSecionCompleto .containerForm .containerFormIS .btnIS:hover {
    background-color: rgba(164, 164, 164, 0.824);
}

.containerInciarSecionCompleto .containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    width: 70%;
   line-height: 2; 
}

.containerInciarSecionCompleto .containerText p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 105%;
    width: 90%;
}

@media (min-width: 375px) and (max-width: 825px) {
    .containerInciarSecionCompleto .containerForm {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .containerInciarSecionCompleto .containerForm .containerFormIS {
        width: 95%;
    }

    .containerInciarSecionCompleto .containerBanner .imgIS {
        width: 90%;
    }

    .containerInciarSecionCompleto .containerForm .title {
        font-size: 120%;
    }

    .containerInciarSecionCompleto .containerForm .containerFormIS .containerInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .containerInciarSecionCompleto .containerForm .containerFormIS .containerInput label {
        font-size: 100%;
    }

    .containerInciarSecionCompleto .containerForm .containerFormIS .containerInput .inputIS {
        font-size: 100%;
    }

}