.containerTienda {
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.tiendaBienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.tiendaBienvenida h3 {
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1%;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    width: 80%;
    background-color: rgba(255, 73, 73, 0.824);
    color: #ffffff;
}

.cartaTienda {
    margin-bottom: 1%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1%;
}

.cartaTienda h3 {
    font-size: 150%;
    border-bottom: #000000 solid 1px;
    width: 100%;
    color: #13a3b0;
    text-align: center;
}

.cartaTienda p {
    font-size: 100%;
    text-align: center;
    width: 60%;
}

.cartaTienda .descripcion {
    height: auto;
    width: 90%;
}

.botonTienda,
.botonAddToCart {
    margin-bottom: 5%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1%;
    width: 40%;
    transition: background-color 0.3s ease;
    margin-bottom: 2%;
}

.contadorTienda {
    margin: 0 4.8%;
}

.botonAddToCart {
    width: 120%;
    margin-left: -10%;
    padding: 3%;
    transition: background-color 0.3s ease;
    margin-bottom: 2%;
}

.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.botonCarrito {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 1%;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1%;
    width: 40%;
}

.botonCarrito:hover,
.botonTienda:hover,
.botonAddToCart:hover {
    background-color: rgb(57, 100, 255);
    color: #000000;
}

@media (min-width: 375px) and (max-width: 825px) {

    .cartaTienda {
        padding: 1%;
        margin-bottom: 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartaTienda h3 {
        font-size: 150%;
        border-bottom: #000000 solid 1px;
        width: 100%;
        color: #13a3b0;
        margin-bottom: 15%;
    }

    .botonTienda {
        margin-bottom: 5%;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        padding: 1%;
        width: 40%;
    }

    .botonCarrito {
        width: 40%;
    }
}

@media (min-width: 826px) {
    .botonCarrito {
        width: 40%;
    }
}