.containerTienda {
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;}

.cartaTienda {
    padding: 1%;
    margin-bottom: 1%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartaTienda h3 {
    font-size: 150%;
    border-bottom: #000000 solid 1px;
    width: 100%;
    color: #13a3b0;
}

.botonTienda,
.botonAddToCart {
    margin-bottom: 5%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1%;
    width: 40%;
}

.contadorTienda {
    margin: 0 4.8%;
}

.botonAddToCart {
    width: 120%;
    margin-left: -10%;
    padding: 3%;
}

.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.botonCarrito {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 1%;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(57, 100, 255);
    color: #ffffff;
    padding: 1%;
    width: 10%;
}

.botonCarrito:hover,
.botonTienda:hover,
.botonAddToCart:hover {
    background-color: #0056b3;
}